page-filter-modal {


  .list-md {
    margin: 0;
  }
  .list-ios {
    margin: 0;
  }

  .applyFilter{
    background-color: #62AEC6;
    color: white;
    text-align: center;
    float: right;
    margin-top: 5vw;
  }

  .clearFilter{
    background-color: #62AEC6;
    color: white;
    text-align: center;
    float: left;
    margin-top: 5vw;
  }
}
