page-slider {


  .backgroundImagesSlider1 {
    width: 60%;
    height: 100%;
    margin-top: 52vw;
   // margin-top: 25px;
   // background-size: 100% 100%;
  }
  .backgroundImagesSlider2 {
    width: 60%;
    height: 100%;
    margin-top: 39%;
   // margin-top: 25px;
   // background-size: 100% 100%;
  }
  .backgroundImagesSlider3 {
    width: 60%;
    height: 100%;
    margin-top: 31%;
   // margin-top: 25px;
   // background-size: 100% 100%;
  }
  .backgroundImagesSlider4 {
    width: 60%;
    height: 100%;
    margin-top: 39%;
   // margin-top: 25px;
   // background-size: 100% 100%;
  }

  .backgroundImagesSlider2 {
    width: 60%;
    height: 100%;
    margin-top: 39%;
   // margin-top: 25px;
   // background-size: 100% 100%;
  }

  .backgroundImages {
    width: 60%;
    height: 100%;
    margin-top: 38vw;
   // margin-top: 25px;
   // background-size: 100% 100%;
  }
  .heading{
    width: 100%;
    font-size: 5vw;
    color: white;
    margin-left: auto;
    text-align: center;
    margin-top: 20vw;
    margin-right: auto;
  }

  .heading2{
    font-size: 4vw;
    color: white;
    margin-left: auto;
    text-align: center;
    margin-top: 5vw;
    margin-right: auto;
  }

  .bgColor{
    background: #3588A1;
  }

  .bgColorBottom{
    background: #298094;
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 60%;
  }

  .slider4{
    background-image: url(../assets/imgs/slider4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: 113vw; */
    background-position: center;
    margin-top: 78%;
    height: 100vw;
    /* width: 100vw; */
  }

}
