<ion-content>
  <div style="background-color: #62AEC6; height: 13vw;">

    <ion-row>

      <ion-col col-3 *ngIf="!isLoggedIn">
        <span class="loginLink" (click)="gotoLogin()">
          <ion-icon name="log-in"></ion-icon> LogIn
        </span>
      </ion-col>
      <ion-col col-3 *ngIf="isLoggedIn"></ion-col>
      <ion-col col-6>

        <div style="    margin-top: 2vw;
    margin-left: 16vw;
    color: white;
    font-size: 5vw;">
          Home

        </div>
      </ion-col>

      <ion-col col-3>

        <img src="assets/imgs/serch_icon.png" class="search" (click)="openSearchScreen()">
      </ion-col>

    </ion-row>
  </div>

  <div>
    <ion-slides #mySlides style="width: 100%;margin-left: auto;
    margin-right: auto;height: 100%" autoplay="1000"
      loop="true" speed="1000" *ngIf="sliderImageDataModal && sliderImageDataModal.length">

      <ion-slide *ngFor="let sliders of sliderImageDataModal">
        <img src="{{sliders}}" style="width: 100%;height: 56vw" onerror="this.src='assets/imgs/default_gallery.jpg'; ">
      </ion-slide>

      <!--<ion-slide>
        <img src="assets/imgs/banner2.png" style="width: 100%;">
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/banner3.png" style="width: 100%;">
      </ion-slide>-->
    </ion-slides>
  </div>

  <p style="font-size: 4.5vw;
    text-align: center">CATEGORY </p>

  <div *ngIf="rootCategoryResponse.length > 0" style="width: 90%;margin-left: auto;">
    <!--style="margin-left: 2vw"-->
    <ion-row style="width: auto">
      <div *ngFor="let data of rootCategoryResponse;let i=index" (click)="openSubCategoryScreen(data)">

        <div class="bgMainCard">
          <img src="{{data.cat_image}}" onerror="this.src='assets/imgs/default_gallery.jpg'; " class="subMainCard" />
          <div class="text">{{data.category_name}}</div>
        </div>


      </div>
    </ion-row>

    <!--<ion-row style="width: auto">-->
    <!--  <ion-slides #categorySlides slidesPerView="3" *ngIf="rootCategoryResponse.length > 0">

        <ion-slide  *ngFor="let data of rootCategoryResponse;let i=index" (click)="openSubCategoryScreen()">

          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">{{data.category_name}}</div>
          </div>

        </ion-slide>
&lt;!&ndash;
        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/mobile-tablet.png" class="subMainCard"/>
            <div class="text">Mobile and Tablets</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/video-games.png" class="subMainCard"/>
            <div class="text">View games</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>


        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>
        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>&ndash;&gt;

      </ion-slides>-->
    <!--  </ion-row>-->

  </div>
  <!--
  <p style="font-size: 4.5vw;
    text-align: center;margin-top: 0vw">CATEGORY </p>

  <div >
    <ion-row style="width: auto">
      <ion-slides slidesPerView="3" >
        <ion-slide >
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/mens-fashion.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/mobile-tablet.png" class="subMainCard"/>
            <div class="text">Mobile and Tablets</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/video-games.png" class="subMainCard"/>
            <div class="text">View games</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>


        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>
        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

      </ion-slides>
    </ion-row>

  </div>

  <p style="font-size: 4.5vw;
    text-align: center;margin-top: 0vw">CATEGORY </p>

  <div >
    <ion-row style="width: auto">
      <ion-slides slidesPerView="3">
        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/furniture.png" class="subMainCard"/>
            <div class="text">Furniture</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/mobile-tablet.png" class="subMainCard"/>
            <div class="text">Mobile and Tablets</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/video-games.png" class="subMainCard"/>
            <div class="text">View games</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>


        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>
        <ion-slide>
          &lt;!&ndash; <ion-card class="sizeOfCard">
             <ion-card-content>&ndash;&gt;
          <div class="bgMainCard">
            <img src="assets/imgs/car-and-bikes.png" class="subMainCard"/>
            <div class="text">Car and bikes</div>
          </div>
          &lt;!&ndash;    </ion-card-content>
            </ion-card>&ndash;&gt;
        </ion-slide>

      </ion-slides>
    </ion-row>

  </div>-->

</ion-content>
