page-notifications {


  .notifHeader{
    color: white;
    text-align: center;
    font-size: 5vw;
    padding-top: 4vw;
  }

  .card-content-md {
    padding: 5px 12px 12px !important;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .card-content-ios {
    padding: 5px 12px 12px !important;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .profilePic{
    width: 10vw;
    height: 10vw;
  }

  .name{
    padding-left: 4vw;
    text-align: left;
    margin-top: 2vw;
    font-size: 4vw;
    color: black;
  }
  .text{
    margin-top: 1vw;
    font-size: 3.2vw;
    color: black;
  }
}
