page-followers {
    .profileHeader {
        color: white;
        text-align: center;
        font-size: 5vw;
        padding-top: 4vw;
    }

    /*Add post header*/
    .UpperTitle {
        text-align: center;
        padding: 20px 0;
        background-color: #3588A1;
        font-size: 5vw;
        color: #fff;
        position: relative;
    }

    .UpperTitle img {
        position: absolute;
        left: 15px;
        width: 6vw;
    }

    .centralize {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4.5vw;
        font-weight: 500;
    }
}
